.food {
    background-image: url(apple-3155.svg);
    background-size: cover;
}

.head {
    background-image: url(round-animal-outlined-face-4-01-snake-icon-original.svg);
    background-size: cover;
}